.voguepay {
  margin-top: 250px;
  text-align: center;
}

.voguepay-logo {
  height: 40vmin;
  pointer-events: none;
}

.voguepay-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.voguepay-link {
  color: #509be2;
}

.payment-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #509be2;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 14px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.payment-button er span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.payment-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.payment-button:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.24), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.ppayment-button:hover span {
  padding-right: 25px;
}

.payment-button:hover span:after {
  opacity: 1;
  right: 0;
}

.secure {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 500px !important;
  padding-left: 1%;
}
